{% assign alert = 'You don’t have any slack channel connected to this community.' %}
<Card>
  <Card.Header title="{{title}}" />
  <Card.Content>
    <Container size="lg" spacing="sm">
      <Alert status="warning" title="{{alert}}" />
        <Container size="lg" spacing="sm">
          <Button
          callbackId="redirect" variant="primary" > Connect to Slack
          </Button>
        </Container>
    </Container>
  </Card.Content>
</Card>